<!DOCTYPE html>
<html>
<head>
    <title>Weather Report</title>
</head>
<body>
    <h1>Weather Report</h1>
    <div class="weather-info">
        <h2>Today's Weather</h2>
        <p>Temp: 90.5</p>
        <p>unit: fahrenheit</p>
        <p>cloudy: false</p>
        <p>precepitation chance: 0</p>
    </div>

</body>
</html>
